[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=http-req
Exec=/usr/bin/single-instance /opt/http-req/bin/http-req
Icon=/usr/share/icons/hicolor/80x80/apps/http-req80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
